body {
  background-color: lightgray;
}

* {
  font-family: 'Ubuntu', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  margin: 1em;
  background-color: white;
}

.actions {
  width: 300px;
  margin: 10px auto;
}

button{
  margin: 36px 8px;
	background-color: transparent;
	border: none;
	border-radius: 3px;
	padding: 8px 16px;
	position: relative;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
}
button:hover {
	box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
}
button:active {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
button:focus {
	background-color: initial;
	outline: 0;
}
.button{
	box-shadow: none;
}